[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "*"
wheel = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"
PyInstaller = "*"
Sphinx = "*"
twine = "*"
isort = "*"
pytest-cov = "*"

[packages]
predicting_credit_card_approvals = {path = ".", editable = true}
click = "*"
ipykernel = "*"
